body
{
    font-family: sans-serif;
}

.filter_div
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width : 450px;
}

.slider_m
{
    width: 160px;
    height: 10px;
}
